@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab");
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.small {
  margin-left: 300px;
}

.ed {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 2px solid #E0E3E5;
  margin-top: 50px;
}

.ed .top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 5px solid #62D4E5;
}

.top a {
  text-decoration: none;
  color: black;
  transition: all .5s ease-in-out;
}

.top a:hover {
  transition: all .5s ease-in-out;
  color: #62D4E5;
}

.ed span {
  color: #7F888F;
  transition: all .5s ease-in-out;
}

.ed a:hover span {
  transition: all .5s ease-in-out;
  color: #62D4E5;
}

.ed .fa {
  color: #7F888F;
}

.ed ul {
  margin-left: 68%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.ed li {
  margin-left: 10px;
  list-style: none;
}

.bottom {
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.bottom div {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.bottom h2 {
  font-size: 30px;
}

.bottom div:nth-of-type(1) {
  margin-right: 5%;
}

.bottom h5, .bottom p {
  color: #7F888F;
}

.bottom p {
  padding-bottom: 10px;
}

.bottom a, .it a {
  margin-top: 30px;
  text-decoration: none;
  color: #62D4E5;
  padding: 10px 25px;
  border: 2px solid #62D4E5;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.bottom a:hover, .it a:hover {
  background-color: #dcf9f5;
  transition: all .5s ease-in-out;
}

.ed img {
  width: 100%;
  border-radius: 10px;
}

.it {
  margin-left: 5%;
  margin-right: 5%;
}

.it section:nth-of-type(1) {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #E0E3E5;
}

.it h3 {
  border-bottom: 4px solid #62D4E5;
  padding-bottom: 10px;
  width: 10%;
}

.con {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.close {
  width: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.con .fa {
  font-size: 30px;
  margin-top: 50px;
  color: #62D4E5;
  position: relative;
}

.con .fa::after {
  border: 2px solid #E0E3E5;
  border-radius: 5px;
  content: "";
  position: absolute;
  padding: 45px;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
}

.con .fa-diamond::after {
  left: -90%;
  top: -100%;
}

.con .fa-paper-plane::after {
  left: -100%;
  bottom: -100%;
}

.con .fa-rocket::after {
  left: -110%;
  bottom: -120%;
}

.con .fa-signal::after {
  left: -100%;
  bottom: -100%;
}

.con p {
  font-size: 14px;
  color: #7F888F;
}

.close div:nth-of-type(1) {
  margin-left: 10%;
  margin-right: 10%;
}

.it section:nth-of-type(2) h3 {
  margin-top: 50px;
  margin-bottom: 40px;
  width: 13%;
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.row > div {
  width: 48%;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.row img {
  width: 90%;
  border-radius: 10px;
}

.row span {
  overflow: hidden;
}

.row img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.row p {
  font-size: 14px;
  color: #7F888F;
  padding-bottom: 20px;
}

.row img, .row p, .row h4, .row a {
  margin-left: 5%;
}

.row div {
  border-bottom: 1.2px solid #E0E3E5;
}

.it section .row div:nth-of-type(5), .it section .row div:nth-of-type(6) {
  border-bottom: none;
}

.row div:nth-of-type(even) {
  border-left: 1.2px solid #E0E3E5;
}

.it section .row a {
  padding: 10px 20px;
  font-size: 12px;
}

#start {
  border-bottom: none;
}

.gen {
  margin-left: 5%;
  margin-right: 5%;
}

.gen div:nth-of-type(1) h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 38px;
}

.gen img {
  width: 100%;
  border-radius: 5px;
}

.gen p {
  font-size: 13px;
  color: #7F888F;
}

.gen h3 {
  font-size: 20px;
  color: #3d4449;
  padding-top: 30px;
}

.gen div {
  border-bottom: .1px solid #E0E3E5;
}

.gen div p:last-child {
  padding-bottom: 30px;
}

.open {
  transition: all .5s ease-in-out;
}

.btn {
  border: 2px solid #6dc5af;
  color: #6dc5af;
  padding: 13px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: rgba(109, 197, 175, 0.05);
}

.base-style {
  display: inline-block;
  color: #3D4449;
  border-bottom: 2.5px solid #6dc5af;
  font-size: 17px;
  padding: 0 10px 10px 0;
}

.b-s-add {
  font-size: 5vh;
  border-width: 3px;
}

nav.open {
  left: 0;
}

nav {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  background-color: #F5F6F7;
  font-size: 11px;
}

nav aside {
  margin: 8%;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 30px;
}

nav aside a {
  display: inline-block;
  overflow: hidden;
}

nav aside img {
  width: 100%;
  border-radius: 5px;
  transition: 250ms all ease-in-out;
  margin-top: 20px;
}

nav aside img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

nav div {
  width: 100%;
  background-color: #e7e9ec;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav div input {
  width: 75%;
  padding: 8px 0 8px 10px;
  margin: 15px 10px 15px 0;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

nav ul li {
  padding: 13px 0;
  border-bottom: 1px solid lightgrey;
  letter-spacing: 1.3px;
  position: relative;
  list-style: none;
}

nav ul li i.fa-angle-down {
  font-size: 15px;
  font-weight: 900;
  color: #535d67;
  position: absolute;
  top: 10px;
  right: 0;
}

nav ul:first-of-type li:last-of-type {
  border: none;
}

nav ul ul {
  margin-left: 25px;
  display: none;
}

nav ul ul li {
  border: none;
  padding: 6px 0;
  color: #a0aab3;
}

nav p {
  color: #535d67;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

nav aside:nth-of-type(3) {
  padding-bottom: 5px;
}

nav aside:nth-of-type(3) p:first-of-type, nav aside:nth-of-type(3) p:last-of-type,
nav aside:nth-of-type(3) + p {
  border: none;
}

nav aside:nth-of-type(3) p {
  font-size: 13px;
}

nav p i.fa {
  color: #6dc5af;
  padding-right: 10px;
  font-size: 16px;
}

nav aside:nth-of-type(3) + p {
  padding: 5% 8% 10%;
}

nav i.fa-bars {
  color: #6dc5af;
  position: absolute;
  top: 25px;
  right: -50px;
  font-size: 26px;
}

@media screen and (max-width: 800px) {
  .top ul {
    position: relative;
    top: 12%;
    margin-left: 0;
  }
  .ed img {
    height: 100%;
    width: 90%;
  }
  .con .fa::after {
    display: none;
  }
  .row img:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  nav {
    position: absolute;
  }
}

@media screen and (max-width: 450px) {
  nav {
    position: absolute;
  }
  .fa-bars {
    padding: 10px;
    background-color: #E6E9E9;
    border-radius: 5px;
  }
  .ed img {
    display: none;
  }
  .top a {
    margin-left: 5%;
  }
  .top ul {
    margin-left: 0;
    position: relative;
    top: 12%;
  }
  .it h3 {
    width: 15%;
  }
  .con .fa::after {
    display: none;
  }
  .bottom div {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    margin-left: 5%;
  }
  .close .fa {
    display: none;
  }
  .close h4 {
    text-decoration: underline;
  }
  .it section:nth-of-type(2) h3 {
    width: 40%;
  }
  .row img:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
