@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    font-family: sans-serif;
    font-weight: 100;
    margin: 0;
}
header {
  margin-top: -20px;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.9);
  z-index: 9999;
}
header nav {
  display: flex;
}
header img:nth-of-type(1) {
  width: 8%;
  height: 100%;
  margin-top: 29px;
  margin-left: 5%;
}
header h2 {
  color: #B81D24;
  margin-left: 10%;
}
.fa-caret-down {
  margin-top: 27.5px;
  color: #B81D24;
  margin-left: 5px;
}
.fa-search {
  color: white;
}
header img:nth-of-type(2) {
  width: 4%;
  height: 100%;
  padding-top: 10px;
}
header form {
  margin-left: 37%;
}
header input {
  margin-top: 25px;
}
.fa-bell {
  margin: 25px 20px 0px;
  font-size: 26px;
  color: white;;
}
.hero {
  background-image: url(../img/infinity.jpeg);
  background-position: center;
  background-size: cover;
  height: 500px;
}
.hero aside {
  margin-left: 5%;
  color: white;
}
.hero h2 {
  padding-top: 70px;
  margin-bottom: 0px;
  margin-top: 0;
}
.hero h2 span {
  color: hsl(0, 1%, 69%);
}
.hero h2 span {
  font-weight: bold;
}
.hero h4 {
  margin-top: 10px;
}
.hero h1 {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 30px;
}
.hero p {
  width: 40%;
  color: hsl(0, 1%, 69%);
}
.hero p span {
  color: white;
}
main {
  background-color: hsl(300, 2%, 6%);
}
section ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section li {
    width: 250px;
    margin: 25px 2px;
    transition: transform 250ms ease-out;
    position: relative;
}
section li:hover {
    transform: scale(1.25);
}
section li:hover div {
    opacity: 1;
}
section li img {
    width: 100%;
    float: left;
}
section div {
    transition: all 250ms ease-out;
    opacity: 0;
    position: absolute;
    bottom: 0;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, .75);
    color: white;
}
section ul.rating {
    float: left;
}
section ul.rating li {
    width: 10px;
    height: 12px;
    font-size: 65%;
    margin: 0;

}
