@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
}
.btn {
  border: solid 1px lightgrey;
  background-color: white;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}
.btn-cta {
  background-color: hsl(9, 89%, 67%);
  border: none;
  color: white;
}
h1 {
  margin: 0;
  font-family: Pacifico, cursive;
  color: hsl(9, 89%, 67%);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}
nav div {
  position: absolute;
  top: 0;
  left: -500px;
  width: 250px;
  height: 100vh;
  transition: all 250ms ease-out;
  background-color: hsl(193, 68%, 45%);
}
nav div.open {
  left: 0;
}
nav div i {
  position: absolute;
  right: 18px;
  top: 16px;
  color: white;
}
nav ul {
  padding: 20px;
}
nav ul:hover {
  left: 0;
}
nav li {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
}
nav a {
  display: inline-block;
  padding: 15px 0;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-family: inherit;
}
header {
  background-image: url(../img/banner.jpg);
  background-position: center;
  height: 600px;
  text-align: center;
}
header h2 {
  margin-top: 0;
  padding-top: 170px;
  font-size: 35px;
}
main section:nth-of-type(1) {
  display: flex;
  padding: 20px;
}
main section:nth-of-type(1) aside:nth-of-type(1) {
  margin-top: 30px;
  margin-left: 10%;
}
main section:nth-of-type(1) h4 {
  color: hsl(193, 68%, 45%);
}
.left h4 {
  text-align: right;
}
.left p {
  text-align: right;
}
section:nth-of-type(1) .left div:nth-of-type(2), section:nth-of-type(1) .right div:nth-of-type(2)  {
  margin-top: 100px;
}
section:nth-of-type(1) p {
  font-size: 12px;
}
 main section:nth-of-type(1) aside:nth-of-type(3) {
   margin-top: 30px;
   margin-right: 10%;
 }
main section:nth-of-type(1) img {
  border-radius: 50%;
  padding: 50px;
}
.orange {
  background-color: #F6755E;
}
.orange div {
  text-align: center;
}
.orange h3 {
  padding-top: 50px;
}
.orange p {
  font-size: 10px;
  color: white;
  opacity: .5;
}
.orange h5 {
  margin-bottom: 0;
}
.orange p:nth-of-type(2) {
  margin-top: 5px;
  padding-bottom: 50px;
}
.orange h3, .orange h5 {
  color: white;
}
.row {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.row div {
  border: 1px solid #ECEEEF;
  margin-right: 5%;
}
.row div img {
  width: 100%;
}
.row h3 {
  text-align: left;
  color: hsl(193, 68%, 45%);

}
.row p {
  text-align: left;
  font-size: 12px;
  opacity: .5;
  padding-bottom: 10px;
}
.row h3, .row p {
  margin-right: 10%;
  margin-left: 10%;
}

.row div:nth-of-type(1) {
  margin-left: 5%
}
.row div:nth-of-type(3) {
  margin-right: 5%;
}
.blue {
  background-color: #25A2C3;
}
.blue h3 {
  padding-top: 50px;
  color: white;
  text-align: center;
}
.blue i {
  margin-top: 22px;
  margin-right: 5px;
  color: #F6755E;
}
.fa-phone {
  margin-left: 40%;
}
.blue h6 {
  color: white;
  opacity: .5;
}
.blue > div {
  display: flex;
}
.blue > div div:nth-of-type(1) {
  margin-left: 25%;
}
.blue > div div {
  display: flex;
  margin-left: 80px;
}
hr {
  width: 30%;
}
footer p {
  text-align: center;
  font-size: 10px;
  opacity: .5;
  color: white;
  margin-bottom: 0;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .fa-times {
    font-size: 20px;
  }
  nav div {
    top: -500px;
    height: 40vh;
    width: 100vw;
    left: 0;
  }
  nav div i {
    right: 30px;
  }
  nav ul li {
    margin-bottom: 20px;
  }
  .open {
    top: 0px;
  }
  header h2 {
    text-shadow: #2c2c2c 3px 3px 5px;
  }
  header a {
    outline: 1px dashed white;
  	outline-offset: -5px;
  }
  .row {
    flex-direction: column;
  }
  section:nth-of-type(1) {
    flex-direction: column;
  }
  section:nth-of-type(1) aside:nth-of-type(2) {
    display: none;
  }
  section:nth-of-type(1) h4 {
    text-decoration: underline;
  }
  section:nth-of-type(1) aside div {
    border: 1px solid #ECEEEF;
    padding: 10px;
  }
  section:nth-of-type(1) .left div:nth-of-type(2), section:nth-of-type(1) .right div:nth-of-type(2) {
    margin-top: 30px;
  }
  main section:nth-of-type(1) aside:nth-of-type(1) {
    margin-left: 0;
  }
  .left h4, .left p {
    text-align: left;
    margin-right: 5%;
  }
  main section:nth-of-type(1) aside:nth-of-type(3) {
    margin-top: 30px;
    margin-right: 0%;
  }
  .right {
    margin-left: 0%;
  }
  .row div {
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
  }
  .blue h3 {
    text-decoration: underline;
  }
  .blue > div div:nth-of-type(1) {
    margin-left: 0;
  }
  .fa-phone {
    margin-left: 0%;
  }
  .blue div {
    flex-direction: column;
  }
  .blue > div div:nth-of-type(1) {
    margin-left: 0%;
  }
  .blue > div div {
    margin-left: 0%;
  }
  .blue > div {
    text-align: center;
  }
  .blue hr {
    display: none;
  }
}
