body {
  margin: 0;
}
header {
  background-image: url(../img/background.jpg);
  position: center;
}
img{
  float: left;
  width: auto;
  height: 70px
}
nav{
  padding: 40px 60px
}
h1, ul {
  margin: 0;
  display: inline-block;
}
h1 {
  padding-bottom: 40px;
  text-decoration: none;
  margin-top: 10px

}
ul{
  float: right;
}
ul li {
  display: inline-block;
  padding: 10px;
  color: hsl(0, 3%, 25%);

}
ul li:nth-of-type(1){
  color: hsl(200, 84%, 70%);
}
body {
  background-image: url(../img/background.jpg);
}
h2 {
  color: white;
  position: absolute;
  width: 50%;
  float: left;
  margin-left: 30%
}
p {
    color: hsl(0, 3%, 25%);
    position: relative;;
    float: left;
    margin-left: 30%;
    margin-top: 45px;
    width: 50%;
}
