@import 'https://fonts.googleapis.com/css?family=Roboto';
@import
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css";
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  background-image: url(../img/home-slider-1-slide-2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
  color: white;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h1 {
  background-image: url(../img/logo-229x39.png);
  background-repeat: no-repeat;
}
nav h1 a {
  width: 229px;
  height: 39px;
  display: block;
  color: transparent;
}
nav ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 125%;
}
nav ul ul {
  width: 200px;
  display: none;
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  background-color: hsla(0, 0%, 0%, .8);
}
nav ul ul a {
  display: block;
  padding: 20px 0px;
  text-align: center;
}
nav > ul > li {
  position: relative;
}
nav > ul > li:hover ul {
  display: block;
}
nav > ul > li::after {
  content: "/";
  display: inline-block;
  margin: 0 10px;
}
nav > ul > li:last-child::after {
  content: none;
}
nav li a {
  text-decoration: none;
  color: inherit;
}
/*CAR TITLE*/
header h2 {
  margin: auto;
  font-size: 15vw;
}
/*SECTION GALLERY*/
#gallery {
  display: flex;
  flex-wrap: wrap;
}
#gallery > div {
  width: calc(100% / 4);
  height: 25vw;
  overflow: hidden;
  position: relative;
}
#gallery > div > img {
  width: 100%;
  transform: scale(1.25);
  /*transform: translate3d(-50%, -50%, 0);*/
}
#gallery > div:hover div {
  /*display: flex;*/
  border-radius: 0%;
  transform: scale(1);
  opacity: 1;
}
#gallery div div {
  transition: all 500ms ease-in-out;
  border-radius: 25%;
  transform: scale(.75);
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: hsla(198, 100%, 58%, 0.85);
}
.news h1 {
  margin-left: 10%;
  margin-top: 50px;
  font-size: 50px;
  margin-bottom: 30px;
}
.news hr {
  width: 80%;
  margin-top: 0;
  margin-bottom: 40px;
}
.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8%;
}
.row div {
  width: 20%;
}
.row div h1 {
  color: hsl(270, 4%, 19%);
}
.row div p {
  color: hsl(132, 2%, 39%);
}
.fa-arrow-right {
  margin-left: 20px;
}
.gray {
  background-image: url(../img/bg-image-1.jpg);
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.gray h1 {
  font-size: 80px;
  padding-bottom: 0;
}
.gray > div {
  position: relative;
  padding-left: 60%;
  padding-top: 8%;
}
.gray div h1 {
  margin-bottom: 0;
}
.gray div > div hr {
  margin-right: 10%;
}
.gray div > div {
  margin-bottom: 60px;
}
.gray div div:nth-of-type(2) {
  display: flex;
  display: inline-flex;
  background-color: hsl(191, 89%, 50%);
}
.pop h1 {
  margin-left: 10%;
  margin-top: 50px;
  font-size: 50px;
  margin-bottom: 30px;
}
.pop hr {
  width: 80%;
  margin-top: 0;
  margin-bottom: 40px;
}
.wave {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8%;
}
.wave div {
  width: 20%;
}
.wave h6 {
  color: hsl(190, 89%, 50%);
}
.wave div p {
  color: hsl(132, 2%, 39%);
}
