@import
'https://fonts.googleapis.com/css?family=Roboto';
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
header {
  background-image: url(../img/home-slider-1-slide-3.jpg);
  height: 1000px;
  background-size: cover;
  background-position: bottom;
}
header nav {
  display: flex;
  width: 100%;
}
header nav div {
  padding-left: 30px;
  padding-top: 50px;
}
header ul {
  display: inline-flex;
  align-items: flex-start;
  list-style: none;
  padding-top: 50px;
  margin-left: 50%;
}
header ul li {
  color: white;
}
header ul li::after{
  content: "/";
  padding: 5px;
}
.l::after{
  content: none;
}
header h1 {
  font-size: 250px;
  text-align: center;
  padding-top: 100px;
  color: white;
}
section {
  display: flex;
  flex-wrap: wrap;
  height: 800px
}
section:nth-of-type(1) div {
  width: 25%;
  color: white;
  background-size: cover;
}
section div:nth-of-type(1) {
  background-image: url(../img/home-1-510x550.jpg);
}
section div:nth-of-type(2) {
  background-image: url(../img/home-2-510x550.jpg);
}
section div:nth-of-type(3) {
  background-image: url(../img/home-3-510x550.jpg);
}
section div:nth-of-type(4) {
  background-image: url(../img/home-4-510x550.jpg);
}
section div:nth-of-type(5) {
  background-image: url(../img/home-5-510x550.jpg);
}
section div:nth-of-type(6) {
  background-image: url(../img/home-6-510x550.jpg);
}
section div:nth-of-type(7) {
  background-image: url(../img/home-7-510x550.jpg);
}
section div:nth-of-type(8) {
  background-image: url(../img/home-8-510x550.jpg);
}
.news h1 {
  font-size: 50px;
  padding-left: 5%;
  margin-bottom: 10px;
}
.news hr {
  width: 90%;
}
.news hr::before {
  background-color: hsl(192, 85%, 38%);
}
.row {
  /*height: 250px;*/
  display: flex;
  justify-content: space-between;
  padding-top: 4%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 50px;
}
.row div {
  background-size: cover;
  width: 20%;
  color: hsl(120, 2%, 34%);
}
.row a {
  text-decoration: none;
  color: hsl(207, 78%, 53%);
}
