@import 'https://fonts.googleapis.com/css?family=Poppins';
@import
'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css';
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 10px 20px;
}
nav h1 {
  margin-right: auto;
}
nav h1 {
}
nav * {
  margin: 0;
  padding: 0;
}
nav ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
}
nav ul li {
  padding: 10px;
  margin: 0 5px;
  font-size: 80%;
}
nav ul a {
  text-decoration: none;
  color: inherit;
}
.content {
  width: 65%;
  margin: 0 auto;
}
#hero {
  text-align: center;
  background-color: hsl(241, 63%, 61%);
  position: relative;
  padding: 50px 0 250px;
  overflow: hidden;
}
#hero img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate3d(-50%, 50%, 0);
}
#features {
  
}
#features > div {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px
}
.fa {
  color: hsl(102, 86%, 47%);
  font-size: 40px;
  border: 2px hsl(102, 86%, 47%) solid;
  border-radius: 500px;
}
