@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
/*header {
  background-image: url(../img/slide-1.jpg);
  height: 900px;
}
header nav {
  display: flex;
}
header nav div {
  padding-top: 30px;
  padding-left: 5%;
  color: white;
}
header nav ul {
  display: inline-flex;
  list-style: none;
  padding-left: 45%;
  padding-top: 20px;
  text-decoration: none;
}*/
/*header nav ul li {
  padding: 0 20px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
header .sec {
  /*margin-top: 15%;*/
  color: white;
} */
/*header .sec h1 {
  font-size: 200px;
  padding-left: 3%;
  margin-bottom: 0;
  margin-top: 15%;
}
header .sec h3 {
  margin-top: 0;
  margin-left: 4%;
}
header .sec button {
  margin-left: 4%;
  padding: 20px 40px;
  background-color: hsl(185, 80%, 52%);
  color: white;
  border: 1px solid hsl(185, 80%, 52%);
}
header .sec button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1px solid white;
  transition: all 200ms ease-in;
}*/
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
header {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 0;
}
header {
  background-image: url(../img/slide-1.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
header nav {
  display: flex;
  justify-content: space-between;
  height: 10vw;
  background-color: hsla(0, 0%, 0%, 0.25);
}
nav h1 {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
nav h1 a {
  display: inline-block;
  width: 122px;
  height: 100%;
  opacity: 0;
}
nav ul {
  display: flex;
}
nav li {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
nav li::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-image: linear-gradient(
  hsla(189, 69%, 49%, 0.5),
  hsla(189, 69%, 49%, 0),
  hsla(0, 0%, 100%, 0.5)
  );
  transition: top 800ms ease-in-out;
}
nav li:hover::after {
  top: 100%;
}
nav li span {
  flex: none;
  display: flex;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 600ms ease-in-out;
}
nav li span:first-child {
  background-color: hsla(189, 69%, 49%, 0);
  transition: background-color 600ms ease-in-out;
}

nav li span:last-child {
  background-color: hsla(0, 0%, 100%, 0);
  transition: background-color 400ms ease-in-out;
}
nav a {
  color: inherit;
  text-decoration: none;
}

nav li:hover span {
  transform: translateY(0%);
}
nav li:hover span:first-child {
  background-color: hsla(189, 69%, 49%, 1);
}

nav li:hover span:last-child {
  background-color: hsla(0, 0%, 100%, 1);
}
nav li a {
  display: flex;
  align-items: center;
}
/*NEXT PART*/
.row > div {
  display: flex;
  margin-top: 700px;
}
.row > div div {
  background-color: hsl(185, 80%, 52%);
  height: 700px;
  margin: 0 10px;
}
.row > div div:hover {
  background-color: hsl(252, 8%, 11%);
  transition: all 200ms ease-in;
}
.row > div div:nth-of-type(1) {
  margin-left: 4%;
}
.row > div div:nth-of-type(3) {
  margin-right: 4%;
}
.row > div div img {
  margin-top: 60px;
  /*margin-left: 25px;*/
}
.row > div div h1 {
  font-size: 40px;
}
.row > div div h3 {
  margin-bottom: 5px;
}
.row > div div p {
  margin-top: 0;
  margin-right: 20px;
}
.row > div div button {
  background-color: white;
  padding: 10px 40px;
  border: 1px solid white;
  color: hsl(185, 80%, 52%);
}
.row > div div button:hover {

}

.row > div div img, .row > div div h1, .row > div div h3, .row > div div p,
.row > div div button {
  margin-left: 25px;
}
.row > div div img, .row > div div h1, .row > div div h3, .row > div div p {
  color: white;
}
